/*Header */

*{
    margin: 0;
    box-sizing: border-box;
} 

.header{
    width: 95%;
    margin: 20px auto;
    background: #f3f5f7;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    height: 80px;
}

.sidebar{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: auto;
    flex-wrap: wrap;
}

.sidebar a{
    text-decoration: none;
    color: #666;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    transition: 0.3s;
    gap: 30px;
    max-width: 100px;
    height: auto;
    cursor: pointer;
}

.sidebar a.active{
    color: darkblue;
}

.header_logo{
    flex-shrink: 0;
}
.header_logo img{
    height: auto;    
    width: 220px;
    display: block;
}


/* Footer*/
.footer{
    max-width: 1400px;
    margin: 20px auto 0;
    height: auto;
    font-size: 14px;
}


.footer-body{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 0;
}


.footer-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-list li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.footer-item{
    grid-column: span 3;
    padding: 6px 8px;
}

.footer-item:not(:last-child){
    border-right: 1px solid black;
}

.footer-item > h3 {
  color: rgb(49, 92, 210);
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.footer-item > p {
  font-size: 14px;
  margin-bottom: 8px;
}

.footer-item_logo{
    width: 250px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: block;
}

.footer-item_list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-item_list-img{
    width: 60px;
    height: 60px;
    margin: 4px 6px;
}

.footer-form{
    width: 100%;
    font-size: 15px;
    font-weight: bold;
}

.footer-form input[type="text"]{
    max-width: 160px;
    padding: 6px 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid ;
    border-radius: 4px;
}

.footer-form label{
    display: inline-block;
    width: 100px;
    margin-bottom: 5px;
}

.submit-container{
    display: flex;
    width: 150px;
    height: 35px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

    margin: 15px auto;
    border: 1px solid green;
    border-radius: 4px;
    
}

.logo-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.logo-top{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.logo-top img,
.logo-bottom img{
    width: 120px;
    height: 120px;
    gap: 20px;
}

.logo-toyota{
    width: 150px;
    height: 150px;
}
